VITE_SUPABASE_URL=https://cvswpyzlmgmqgyskriot.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImN2c3dweXpsbWdtcWd5c2tyaW90Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTEzOTYwNzIsImV4cCI6MjA2Njk3MjA3Mn0.kJb1WBjVw6dzYINvx_wx2MCAEsaoPWPveEtk6ax3BIQ